<!DOCTYPE html>
<html xmlns:th=""http://www.thymeleaf.org"">
	<head>
		<title>Version Page</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<h1>Hello World!</h1>
		
		<p>This page is the view served when visiting <a href="/version">localhost:8080/version</a></p>
		<p>You are using (from Model) <div th:text="${JREVersion}">html content to be replaced in live web site</div> of the Java Runtime Environment</p>
		
	    	<p>You may also want to visit <a href="/">localhost:8080/</a> to see a static html page/p>
	
	</body>
</html>